.main {
    margin-top: 70px;
}

.sidebar {
    padding: 0%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: aqua;
}

.user-1 {
    font-size: large;
    font-weight: bold;
    height: 120px;
}

.user-1>.user-name {
    font-size: 20px;
}

.user-1>.user-level,
.user-totalExperience {
    font-size: 35px;
}

/* user-1 の tr タグ内の user-icon にスタイルを適用 */
tr.user-1 .user-rank-icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.user-2 {
    font-size: large;
    font-weight: bold;
    height: 100px;
}

.user-2>.user-name {
    font-size: 18px;
}

.user-2>.user-level,
.user-totalExperience {
    font-size: 30px;
}

tr.user-2 .user-rank-icon {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.user-3 {
    font-size: large;
    font-weight: bold;
    height: 80px;
}

.user-3>.user-name {
    font-size: 15px;
}

.user-3>.user-level,
.user-totalExperience {
    font-size: 25px;
}

tr.user-3 .user-rank-icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.user-rank-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}