.main {
	margin-top: 5%;
}

.sidebar {
	overflow-y: scroll;
	height: 86%;
}

.container .memo-detail .content {
	height: 500px;
	width: 97%;
	font-size: 1rem;
	color: var(--primary-text-color);
	border: solid 0.5px #e1dfdf;
}

.container .memo-detail .content textarea {
	height: 100%;
	width: 100%;
}

.modal-dialog {
	top: 90px;
	z-index: 2;
}

.sidebar-items {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.borderbox :hover {
	background-color: rgb(112, 177, 242);
}